! Default Font
URxvt*font: xft:Fira Mono:size=11, xft:DejaVu Sans Mono:size=11, xft:Source Han Sans CN:size=11
!URxvt*font: xft:Fira Mono:size=10, xft:DejaVu Sans Mono:size=10, xft:IPAGothic:size=14

! :Bind C-0, C-+ and C-= to activate small, medium, and big font size resp.
URxvt.keysym.C-0: command:\033]710;xft:Fira Mono:size=11, xft:DejaVu Sans Mono:size=11, xft:Source Han Sans CN:size=11\007
URxvt.keysym.C-minus: command:\033]710;xft:Fira Mono:size=8, xft:DejaVu Sans Mono:size=8, xft:Source Han Sans CN:size=8\007
URxvt.keysym.C-equal: command:\033]710;xft:Fira Mono:size=30, xft:DejaVu Sans Mono:size=30, xft:Source Han Sans CN:size=30\007

URxvt*depth: 32
URxvt.iso14755: false
URxvt*scrollBar: false

! Chinese keyboard
URxvt.inputMethod: ibus
URxvt.preeditType: OverTheSpot

URxvt*background: [70]#000000
URxvt*foreground: rgb:FF/FF/FF

!		TERMINAL COLORS
! Black + DarkGrey
!*color0:  #000000
!*color8:  #555753

!! DarkRed + Red
!*color1:  #ff6565
!*color9:  #ff8d8d

!! DarkGreen + Green
!*color2:  #93d44f
*color2:  #99ff33
!*color10: #c8e7a8

!! DarkYellow + Yellow
!*color3:  #eab93d
*color11: #ffc123

!! DarkBlue + Blue
!*color4:  #204a87
URxvt*color4: rgb:5c/bb/ff
!*color12: #3465a4
URxvt*color12: rgb:5c/5c/ff

!! DarkMagenta + Magenta
!*color5:  #ce5c00
!*color13: #f57900

!!DarkCyan + Cyan (both not tango)
!*color6:  #89b6e2
!*color14: #46a4ff

!! LightGrey + White
!*color7:  #cccccc
!*color15: #ffffff

! Cursor color
URxvt*cursorColor: #07fff2

! Modifier key
URxvt*modifier: ALT_L


! ST settings
st.font: Fira Mono:pixelsize=30:antialias=true:autohint=true;
st.borderpix: 10
st.cursorshape: 2
st.xfps: 120
st.mouseScrollLines: 10

st.background: #000000
st.foregroud: #ffffff
st.opacity: 178.5
st.bellvolume: 0
